@{
    ViewData["Title"] = "Home Page";
}

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fw-semibold mb-4">Welcome to Feeds</h5>
                    <p class="mb-0">This is a sample page </p>
                </div>
            </div>
        </div>
    </div>